.games {
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;

        &__table {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: center;
            width: 560px;
            position: relative;
            left: 30%;

            & a {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.2px;
                text-decoration-line: underline;
                color: #000000;
            }

            & h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 26px;
                letter-spacing: 0.2px;
                color: #000000;
                margin-bottom: 8px;
                text-align: center;
            }

            &__box {
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                margin-top: 34px;
                width: 550px;

                & button {
                    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.15);
                    border-radius: 15px;
                    width: 150px;
                    height: 150px;
                }

                &__row {
                    display: flex;
                    gap: 50px;
                }

            }
        }
    }
}

.box-active {
    background: #FFFFFF;
    border: 1px solid #939393;
}

.box-inactive {
    background: #FFFFFF;
    border: 1px solid #939393;
}

.box-no-chance {
    background-color: #BDBDBD; 
    border: 1px solid #EB5757;
}

#selectedBox {
    background-color: #27AE60;
}

